body{
    background-color: rgb(58, 99, 100); 
   color: rgb(203, 255, 255);
padding: 10px;
}
div{
  
        
}
.button{
    border-radius: 9px;
 
}
h2{
color: white;
font-weight: bolder;
margin: 10px;
}